<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <!-- Bean definition inheritance -->
   <bean id = "beanDefinitionTemplate" abstract = "true">
   	<property name = "messageFr" value = "Hello France"/>
   	<property name = "messageGe" value = "Hello Germany"/>
   	<property name="message" value = "Hello Europe"/>
   </bean>
   
   <!-- parent is another bean's id, like definition template or another class -->
   <bean id = "messageHelloWorld" class = "sk.spring.Message" parent = "beanDefinitionTemplate" init-method = "init" destroy-method = "dispose">
      <property name = "message" value = "Hello World"/>
   </bean>
   
   <bean class = "sk.spring.Init"></bean>
</beans>